.admin-logged.type-page,
.admin-logged.type-detail {
  .flex {
    display: flex;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 28px;
    margin-bottom: 24px;
  }

  p {
    font-size: 16px;
    text-align: left !important;
    line-height: 24px;
  }

  .feature-w-image {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    @media (min-width: $breakpoint-lg) {
      flex-direction: row-reverse;
      align-items: center;
      gap: 103px;
      padding: 40px 0;
    }

    &:nth-child(even) {
      @media (min-width: $breakpoint-lg) {
        flex-direction: row;
      }
    }
  }

  .feature-image {
    flex-basis: 100%;
    @media (min-width: $breakpoint-lg) {
      flex-basis: 50%;
    }
  }
  .feature-content {
    flex-basis: 100%;
    @media (min-width: $breakpoint-lg) {
      flex-basis: 50%;
    }

    h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 16px;

      @media (min-width: $breakpoint-md) {
        font-size: 26px;
        margin-bottom: 24px;
      }

      @media (min-width: $breakpoint-lg) {
        font-size: 32px;
      }
    }

    p {
      font-size: 16px !important;

      @media (min-width: $breakpoint-md) {
        font-size: 18px;
      }
    }
  }
}

.admin-logged.type-page main#content {
  article {
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 70px;

    @media only screen and (max-width: $breakpoint-md) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media only screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
      padding-left: 50px;
      padding-right: 50px;
    }

    header h1 {
      font-size: 30px;
      font-weight: 600;

      @media only screen and (max-width: $breakpoint-sm) {
        font-size: 18px;
      }

      @media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        font-size: 24px;
      }
    }

    p,
    .text-layout {
      font-size: 14px !important;
      line-height: 20px !important;
      text-align: left;

      @media (min-width: $breakpoint-md) {
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }
  }
}
